<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms-4.0.xsd
        http://activemq.apache.org/schema/core
        http://activemq.apache.org/schema/core/activemq-core-5.8.0.xsd ">
	<mvc:annotation-driven >
		<!-- 设置字符集 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=utf-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!-- 注解包扫描器 -->
	<context:component-scan  base-package="com.hyz.evil.controller" />
	
	
	
	<!-- 视图解析器 html-->
	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">  
	   <property name="prefix" value=""/> <!-- 此处不写 会自动加到跳转页面的前面  -->
	   <property name="suffix" value=".html"/>  
	   <property name="order" value="0"/>
	   <property name="contentType" value="text/html;charset=UTF-8"></property>      
	</bean>
	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
	   <property name="templateLoaderPath" value="/WEB-INF/html/"/>  
	</bean> 
	<!-- 视图解析器 jsp-->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- <property name="order" value="2"></property> -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 对静态资源文件的访问 -->
	<mvc:resources location="/" mapping="/**/*.js"></mvc:resources>
	<mvc:resources location="/" mapping="/**/*.css"></mvc:resources>
	<mvc:resources location="/" mapping="/**/*.png"></mvc:resources>
	<mvc:resources location="/" mapping="/**/*.ico"></mvc:resources>
	<mvc:resources location="/" mapping="/**/*.gif"></mvc:resources>
	<mvc:resources location="/" mapping="/**/*.jpg"></mvc:resources>
	<mvc:resources location="/" mapping="/**/*.jpeg"></mvc:resources>
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/image/" mapping="/image/**"></mvc:resources>
	
	<!-- 文件上传 -->
	<!-- <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		设置上传文件的最大尺寸为5MB
		<property name="maxUploadSize">
			<value>52428800000</value>
		</property>
		<property name="defaultEncoding" value="UTf-8" />
	</bean> -->
	
</beans>

