<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!--注册 sqlSessionFactory -->
	<bean id="mybatisSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定数据源 -->
		<!-- <property name="dataSource" ref="dataSource" /> -->
		<property name="dataSource" ref="dynamicDataSource" />
		<!-- 指定主配置文件 -->
		<!-- <property name="configLocation" value="classpath:resources/mybatis.xml" /> -->
		<!-- 配下面这些可不要mybatis的主配置文件 -->
		<!-- 设置mapper的位置 不配默认和接口同一个位置下 -->
		<property name="mapperLocations"  value="classpath:mapper/*.xml"/>
		<!-- 设置bean目录位置 -->
		<property name="typeAliasesPackage" value="com.hyz.evil.bean"></property>
	</bean>

	<!-- 生成Dao的动态代理 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 注入sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="mybatisSessionFactory" />
		<!-- 指定基本的包扫描路径 -->
		<property name="basePackage" value="com.hyz.evil.dao" />
	</bean>

</beans>

